@import '~/styles/mixin';
@import './common';

.skills-wrapper {
  @extend .player-content-wrapper;
}

.classification {
  @apply text-lg font-bold text-black mb-6 flex justify-center;
}
.hard-children {
  @apply grid grid-cols-3 gap-5;
}
.level {
  @apply ml-2;
  font-size: 0.875rem;
  span {
    @apply p-1;
  }
}
.high {
  color: rgba(51, 126, 169, 1);
}
.middle {
  color: rgba(203, 145, 47, 1);
}
.low {
  color: rgba(212, 76, 71, 1);
}
.semi-classification {
  @apply font-semibold text-black;
}
.others {
  @apply grid grid-cols-2 gap-5;
  div {
    color: black;
  }
}

@include media(tablet, mobile) {
  .hard-children {
    @apply grid grid-cols-1 gap-0;
  }
  .bundle {
  }
}
