@import '../styles/mixin';
$notification-popup-width: 360px;
$notification-popup-height: 480px;

.wrapper {
  @apply bg-white block;
  box-shadow: 0px 4px 32px 0px rgb(0, 0, 0, 0.1);
  outline: none;
  z-index: 2202;
  position: fixed;
  top: 48px;
  right: 75px;
  border-radius: 12px;
  width: $notification-popup-width;
  height: $notification-popup-height;
}

.header {
  @apply py-3 px-5 border-b flex justify-between h-12;
  .x-button-container {
    @apply cursor-pointer p-1;
    height: 24px;
    width: 24px;
  }
}

@include media(tablet, mobile) {
  .wrapper {
    @apply h-full top-0 right-0;
  }
}

@include media(mobile) {
  .wrapper {
    @apply w-full h-full rounded-none;
  }
}
