@import '~/styles/variable';
@import '~/styles/mixin';

.container {
  @apply w-full;
  padding-top: $navbar-height;
  padding-bottom: $mobile-menu-height;
  padding-left: $shrinked-menu-width;
  &.expanded {
    padding-left: $expanded-menu-width;
  }
}
@include media(mobile, tablet, mid-tablet) {
  .container {
    @apply pl-0;
    &.expanded {
      @apply pl-0;
    }
  }
}
