@import '~/styles/mixin';

$pc-margin: 224px;
$mobile-margin: 160px;

.contact {
  @apply px-8 py-4;
}
.info-card {
  @apply grid;
  grid-template-columns: 1fr 2.5fr 5fr 1fr;
}
.card-inner {
  @apply flex relative h-56;
}
.angle-zone {
  @apply mx-2 h-12 w-10 self-center cursor-pointer;
  &.right {
    transform: translateX(-15px);
    &:hover {
      animation: onMouseOver ease-in-out 0.8s infinite;
      &:active {
        animation: none;
        transform: translate(-5px, 5px);
      }
    }
  }
  &.left {
    transform: translateX(15px);
    &:hover {
      animation: onMouseOver2 ease-in-out 0.8s infinite;
      &:active {
        animation: none;
        transform: translate(5px, 5px);
      }
    }
  }
}
.photo-zone {
  @apply rounded-full overflow-hidden;
  width: $pc-margin;
  border: 1px solid #ccc;
}
.ref-control {
  @apply flex h-full;
  width: $pc-margin;
  &.i-0 {
    &.left {
      animation: lslide0 linear 0.3s;
    }
    &.right {
      animation: rslide0 linear 0.3s;
    }
  }
  &.i-1 {
    margin-left: calc($pc-margin * 1 * -1);
    &.left {
      animation: lslide1 linear 0.3s;
    }
    &.right {
      animation: rslide1 linear 0.3s;
    }
  }
  &.i-2 {
    margin-left: calc($pc-margin * 2 * -1);
    &.left {
      animation: lslide2 linear 0.3s;
    }
    &.right {
      animation: rslide2 linear 0.3s;
    }
  }
  &.i-3 {
    margin-left: calc($pc-margin * 3 * -1);
    &.left {
      animation: lslide3 linear 0.3s;
    }
    &.right {
      animation: rslide3 linear 0.3s;
    }
  }
}
.photo-container {
  @apply rounded-full block min-h-full min-w-full;
}

.info {
  @apply py-8;
  div {
    @apply mb-3;
  }
}

.description {
  --tw-text-opacity: 0.9;
  color: rgb(75 85 99 / var(--tw-text-opacity));
  word-spacing: -3px;
}

@include media(tablet, mid-tablet, mobile) {
  .card-inner {
    @apply h-40;
  }
  .photo-zone {
    width: $mobile-margin;
  }
  .ref-control {
    width: $mobile-margin;
    &.i-0 {
      &.left {
        animation: mobile-lslide0 linear 0.3s;
      }
      &.right {
        animation: mobile-rslide0 linear 0.3s;
      }
    }
    &.i-1 {
      margin-left: calc($mobile-margin * 1 * -1);
      &.left {
        animation: mobile-lslide1 linear 0.3s;
      }
      &.right {
        animation: mobile-rslide1 linear 0.3s;
      }
    }
    &.i-2 {
      margin-left: calc($mobile-margin * 2 * -1);
      &.left {
        animation: mobile-lslide2 linear 0.3s;
      }
      &.right {
        animation: mobile-rslide2 linear 0.3s;
      }
    }
    &.i-3 {
      margin-left: calc($mobile-margin * 3 * -1);
      &.left {
        animation: mobile-lslide3 linear 0.3s;
      }
      &.right {
        animation: mobile-rslide3 linear 0.3s;
      }
    }
  }
}

@keyframes onMouseOver {
  100% {
    transform: translateX(20px);
    opacity: 0;
  }
}
@keyframes onMouseOver2 {
  100% {
    transform: translateX(-20px);
    opacity: 0;
  }
}
//slide
@keyframes rslide1 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: calc($pc-margin * 1 * -1);
  }
}
@keyframes rslide2 {
  0% {
    margin-left: calc($pc-margin * 1 * -1);
  }
  100% {
    margin-left: calc($pc-margin * 2 * -1);
  }
}
@keyframes rslide3 {
  0% {
    margin-left: calc($pc-margin * 2 * -1);
  }
  100% {
    margin-left: calc($pc-margin * 3 * -1);
  }
}
@keyframes rslide0 {
  0% {
    margin-left: calc($pc-margin * 3 * -1);
  }
  100% {
    margin-left: calc($pc-margin * 4 * -1);
  }
}
@keyframes lslide3 {
  0% {
    margin-left: calc($pc-margin * 4 * -1);
  }
  100% {
    margin-left: calc($pc-margin * 3 * -1);
  }
}
@keyframes lslide2 {
  0% {
    margin-left: calc($pc-margin * 3 * -1);
  }
  100% {
    margin-left: calc($pc-margin * 2 * -1);
  }
}
@keyframes lslide1 {
  0% {
    margin-left: calc($pc-margin * 2 * -1);
  }
  100% {
    margin-left: calc($pc-margin * 1 * -1);
  }
}
@keyframes lslide0 {
  0% {
    margin-left: calc($pc-margin * 1 * -1);
  }
  100% {
    margin-left: 0;
  }
}
//slide

//mobile-slide
@keyframes mobile-rslide1 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: calc($mobile-margin * 1 * -1);
  }
}
@keyframes mobile-rslide2 {
  0% {
    margin-left: calc($mobile-margin * 1 * -1);
  }
  100% {
    margin-left: calc($mobile-margin * 2 * -1);
  }
}
@keyframes mobile-rslide3 {
  0% {
    margin-left: calc($mobile-margin * 2 * -1);
  }
  100% {
    margin-left: calc($mobile-margin * 3 * -1);
  }
}
@keyframes mobile-rslide0 {
  0% {
    margin-left: calc($mobile-margin * 3 * -1);
  }
  100% {
    margin-left: calc($mobile-margin * 4 * -1);
  }
}
@keyframes mobile-lslide3 {
  0% {
    margin-left: calc($mobile-margin * 4 * -1);
  }
  100% {
    margin-left: calc($mobile-margin * 3 * -1);
  }
}
@keyframes mobile-lslide2 {
  0% {
    margin-left: calc($mobile-margin * 3 * -1);
  }
  100% {
    margin-left: calc($mobile-margin * 2 * -1);
  }
}
@keyframes mobile-lslide1 {
  0% {
    margin-left: calc($mobile-margin * 2 * -1);
  }
  100% {
    margin-left: calc($mobile-margin * 1 * -1);
  }
}
@keyframes mobile-lslide0 {
  0% {
    margin-left: calc($mobile-margin * 1 * -1);
  }
  100% {
    margin-left: 0;
  }
}
//mobile-slide
