.contact {
  @apply px-8 py-4;
}
.info-card {
  @apply grid;
  grid-template-columns: 1fr 2.5fr 5fr 1fr;
}
.card-inner {
  @apply flex relative;
}
.angle-zone {
  @apply mx-2 h-12 w-10 self-center cursor-pointer;
  &.right {
    transform: translateX(-15px);
    &:hover {
      animation: onMouseOver ease-in-out 0.8s infinite;
      &:active {
        animation: none;
        transform: translate(-5px, 5px);
      }
    }
  }
  &.left {
    transform: translateX(15px);
    &:hover {
      animation: onMouseOver2 ease-in-out 0.8s infinite;
      &:active {
        animation: none;
        transform: translate(5px, 5px);
      }
    }
  }
}
.photo-zone {
  @apply h-56 w-56 rounded-full overflow-hidden;
  border: 1px solid #ccc;
}
.ref-control {
  @apply flex h-full w-full;
  &.i-0 {
    &.left {
      animation: lslide0 linear 0.3s;
    }
    &.right {
      animation: rslide0 linear 0.3s;
    }
  }
  &.i-1 {
    margin-left: -224px;
    &.left {
      animation: lslide1 linear 0.3s;
    }
    &.right {
      animation: rslide1 linear 0.3s;
    }
  }
  &.i-2 {
    margin-left: -448px;
    &.left {
      animation: lslide2 linear 0.3s;
    }
    &.right {
      animation: rslide2 linear 0.3s;
    }
  }
  &.i-3 {
    margin-left: -672px;
    &.left {
      animation: lslide3 linear 0.3s;
    }
    &.right {
      animation: rslide3 linear 0.3s;
    }
  }
}
.photo-container {
  @apply rounded-full block min-h-full min-w-full;
}

.blabla {
  @apply py-8;
}

@keyframes onMouseOver {
  100% {
    transform: translateX(20px);
    opacity: 0;
  }
}
@keyframes onMouseOver2 {
  100% {
    transform: translateX(-20px);
    opacity: 0;
  }
}

@keyframes rslide1 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -224px;
  }
}
@keyframes rslide2 {
  0% {
    margin-left: -224px;
  }
  100% {
    margin-left: -448px;
  }
}
@keyframes rslide3 {
  0% {
    margin-left: -448px;
  }
  100% {
    margin-left: -672px;
  }
}
@keyframes rslide0 {
  0% {
    margin-left: -672px;
  }
  100% {
    margin-left: -896px;
  }
}
@keyframes lslide3 {
  0% {
    margin-left: -896px;
  }
  100% {
    margin-left: -672px;
  }
}
@keyframes lslide2 {
  0% {
    margin-left: -672px;
  }
  100% {
    margin-left: -448px;
  }
}
@keyframes lslide1 {
  0% {
    margin-left: -448px;
  }
  100% {
    margin-left: -224px;
  }
}
@keyframes lslide0 {
  0% {
    margin-left: -224px;
  }
  100% {
    margin-left: 0;
  }
}
