.bg {
  @apply top-0 left-0 w-screen h-screen absolute flex justify-center items-center bg-black bg-opacity-30;
  z-index: 10;
}

.popup {
  @apply rounded-xl w-1/2 bg-white opacity-100 p-4;
  z-index: 11;
  box-shadow: 0 0 24px 12px var(--paper-dialog-shadow-color, rgba(0, 0, 0, 0.15));
}
.header {
  font-family: Youtube-Font;
}
.x-button-container {
  @apply self-end cursor-pointer;
  width: 18px;
  height: 18px;
}
